<link href="css/tarjeta-cancion-publicar.css" rel="stylesheet">
<br>
<br>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10 tarjeta-cancion-publicar">
		<br>
		<div class="row">
		    <div class="col-xs-12">
		   		<center>
		   			<h1>Publicar una canción como {{usuario.nombre_artistico}}</h1>
		   		</center>
		    </div>
		</div>
		<br>
		<br>
		<form name="formularioPublicacionCancion" class="form-registro" role="registro">
		    <div class="form-group">
		    	<div class="row">
		    		<div class="col-xs-6">
		        		<input type="text" id="titulo" name="titulo" class="form-control campo-texto" placeholder="Titulo de la canción" ng-model="titulo" required>
		        	</div>
		        	<div class="col-xs-6">
		        		<input type="text" id="album" name="album" class="form-control campo-texto" placeholder="Album al que pertenece" ng-model="album">
		        	</div>
		        </div>

		        <div class="row">
		    		<div class="col-xs-6">
		        		<input type="text" id="genero" name="genero" class="form-control campo-texto" placeholder="Género musical" ng-model="genero" required>
		        	</div>
		        	<div class="col-xs-6">
		        		<input type="text" id="duracion" name="duracion" class="form-control campo-texto" placeholder="Duración en minutos" ng-model="duracion">
		        	</div>
		        </div>

		        <div class="row">
		        	<div class="col-xs-6">
		        		<input type="text" id="fecha_lanzamiento" name="fecha_lanzamiento" class="form-control campo-texto" placeholder="Fecha de lanzamiento" ng-model="fecha_lanzamiento" required>
		        	</div>
		        	<div class="col-xs-6">
		        	</div>
		        </div>
		        <br>

		        <div class="row">
		        	<div class="col-xs-12">
		        		<input type="text" id="imagen" name="imagen" class="form-control campo-texto" placeholder="URL de la imagen de portada" ng-model="imagen">
		        	</div>
		        </div>

		        <div class="row">
		        	<div class="col-xs-12">
		        		<input type="text" id="link_souncloud" name="link_souncloud" class="form-control campo-texto" placeholder="URL de la cancion en souncloud" ng-model="link_souncloud">
		        	</div>
		        </div>

		        <div class="row">
		       		<div class="col-xs-12">
		        		<center>
		        			<button class="boton btn btn-default" type="button" ng-click='publicar()' ng-href='#here'>Publicar canción</button>
		        		</center>
		        	</div>
		        </div>
		 
		    </div>
		 </form>
	</div>
	<div class="col-xs-1"></div>
</div>
<br><br><br>