

/********************* TARJETA DARSE DE BAJA ***********************/

.tarjeta-artista-baja {

    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 27px 17px 25px 2px #000000;
}

.tarjeta-artista-baja .encabezado {

    background-color: rgba(15, 15, 15, 0.95);
}

.tarjeta-artista-baja .boton {

    background-color: #151515;
    border: 1.5px solid #454545;
    margin-right: 70px; /* Cambiar a alinecacion tipo responsive */
    color: #AAAAAA;

}

.tarjeta-artista-baja .boton:hover {
    background-color: #BF2020;
    box-shadow: 0px 0px 7px 2px #BF2020;
}